Repository pfnet/pfio, pull requests merged in 2019-05, with the labels that each got.

#10 Move to pfnci
  .circleci/config.yml
  .pfnci/Dockerfile
  .pfnci/config.pbtxt
  .pfnci/test.sh
  chainerio/chainer_extensions/__init__.py
Labels: cat:test, pr-blocker, prio:high

#16 Add tox
  .pfnci/Dockerfile
  .pfnci/docker/Dockerfile
  .pfnci/docker/install.sh
  .pfnci/test.sh
  setup.py
  tox.ini
Labels: cat:test, prio:medium

#8 Add API doc
  README.md
  chainerio/cache/__init__.py
  docs/source/index.rst
  docs/source/reference.rst
Labels: cat:document, prio:medium

#6 Update setup.py
  README.md
  setup.py
Labels: cat:document, prio:high

#17 Add fs detection test on containers
  tests/test_context.py
Labels: cat:test, prio:low

#26 Bugfix for sphinx
  docs/Makefile
  docs/source/conf.py
  docs/source/design.rst
Labels: cat:bug, cat:document
